.Mini-demon {
    position: absolute;
    height: 100px;
    background-repeat: no-repeat;
    animation: mini-demon-animation .8s steps(4) infinite;
    z-index: 3;
    filter: drop-shadow(0px 0px 5px orange);
}
@keyframes mini-demon-animation {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -192px;
    }
}