.Player {
    position: absolute;
    height: 100px;
    background-repeat: no-repeat;
    animation: player-animation .8s steps(4) infinite;
    background-position-y: 0;
    z-index: 4;
    filter: drop-shadow(0px 0px 5px white);
}
@keyframes player-animation {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -192px;
    }
}